.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
    gap: 4rem;
}
.product-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}